/*.tic-tac-toe {
    width: 150px;
    height: 150px;
    border-collapse: collapse;
    /*margin: 50px auto;
    background-color: #44425e;
  
  */

  .square-grid {
    width: 50px;
    height: 50px;
   /* border: 1px solid #a855c1;*/
    border: 3px solid white;
    float: left;
    box-sizing: border-box;
  }

  Box td:first-child{
    border-left-color: transparent;
  }
  
  Box div:last-child{
    border-right-color: transparent;
  }
  
  tr:first-of-type td{
    border-top-color: transparent;
  }
  
  tr:first-of-type td:nth-child(1) {
    border-left-color: transparent;
  }
  
  tr:first-of-type td:last-of-type {
    border-right-color: transparent;
  }
  
  tr:last-of-type td {
    border-bottom-color: transparent;
  }
  
  tr:last-of-type td:nth-child(1) {
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  
  tr:last-of-type td:last-child {
    border-right-color: transparent;
    border-bottom-color: transparent;
  }